/* General */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    text-align: center;
    background-color: #b1c5d6;
    font-family: 'Montserrat', sans-serif;
}

li {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

/* App.js */

.app__component {
    background-color: #82b9e5;
    width: 70vw;
    margin: auto;
}

.main__h1 {
    line-height: 100px;
}

/* Form.js */

.form {
    padding-bottom: 40px;
    padding-top: 20px;
    border-bottom: 3px solid #4487bf;
}

.form__button {
    font-size: 1rem; 
    margin-left: 1rem;
    padding: 0.5rem;
    width: 150px;
    background-color: rgb(32, 102, 160);
    color: white;
  }
  
  .form__button:hover {
    background-color: rgb(101, 173, 231);
  }

/* RecipeList.js */

.recipe__list__div {
    margin: auto;
    width: 70vw;
    text-align: left;
}

.recipe__list__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #e0e1e2;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.recipe__list__map__through {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 60px;
    border-radius: 20px;
}

.recipe__list__map__through:hover {
    background: #aacedd;
}

.recipe__list__title {
    font-size: 0.8em;
    padding-top: 0.8em;
    margin-left: 0.4em;
    text-align: left;
}

.recipe__list__img {
    width: 15vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 10px;
}

.recipe__list__enter__message {
    color: grey;
}

.recipe__list__rank {
    padding-top: 1em;
}

.recipe__list__link {
    text-decoration: none;
    color: black;
}

.recipe__list__link:hover {
    color: #4487bf;
}

.recipe__list__buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* RecipePage.js */

.recipe__page__div {
    width: 70%;
    height: 100vh;
    margin: auto;
    text-align: center;
    background-color: #e0e1e2;
}

.recipe__page__title {
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    width: 80%;
    margin: auto;
}

.recipe__page__publisher {
    margin-top: 1rem;
    margin-bottom: 3rem;
    font-size: 12px;
}


.recipe__page__source__url a {
    text-decoration: none;
}

.recipe__page__image__url {
    object-fit: cover;
    margin-top: 2rem;
    margin: auto;
    padding: 3rem;
    border-radius: 2rem;
    width: 50vw;
}

.recipe__page__image__url:hover {
    background: #aacedd;
}

.recipe__page__image__url img {
    border-radius: 2rem;
    width: 40vw;
    height: 500px;
    object-fit: cover;
}

.recipe__page__rank {
    font-size: 1em;
}

.recipe__page__source__url {
    text-decoration: none;
    padding-top: 4rem;
}

/* Media */

@media only screen and (max-width: 1100px) {

    html {
        background-color: #e0e1e2;
    }

    /* App.js */

    .app__component {
        width: 100%;
    }

    /* RecipeList.js */

    .recipe__list__grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .recipe__list__img {
        width: 25vw;
        height: 20vw;
    }

    .recipe__list__div {
        width: 90vw;
    }

    .recipe__list__title {
        font-size: 1em;
    }

    /* RecipePage.js */
}

@media only screen and (max-width: 700px) {

    /* RecipeList.js */

    .recipe__list__grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .recipe__list__img {
        width: 40vw;
        height: 35vw;
    }

    /* RecipePage.js */
}

@media only screen and (max-width: 500px) {

    /* RecipeList.js */

    .recipe__list__grid {
        grid-template-columns: 1fr;
    }

    .recipe__list__img {
        width: 77vw;
        height: 60vw;
    } 

    /* RecipePage.js */
}